<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guideon.document.mapper.IndustryRulesMapper">

    <select id="selectIndustryRuleByCode" parameterType="string" resultType="IndustryRulesVO">
        SELECT
            id,
            industry_code as industryCode,
            industry_name as industryName,
            is_loan_eligible as isLoanEligible,
            employee_limit as employeeLimit,
            has_special_condition as hasSpecialCondition,
            max_revenue as maxRevenue
        FROM industry_rules
        WHERE industry_code = #{industryCode}
    </select>

</mapper>